[main]

dont_bundle =
    tracking.js
    modules/select-switch.js
    modules/slug-preview.js
    modules/basic-form.js
    modules/confirm-action.js
    modules/api-info.js
    modules/autocomplete.js
    modules/custom-fields.js
    modules/data-viewer.js
    modules/table-selectable-rows.js
    modules/resource-form.js
    modules/resource-upload-field.js
    modules/resource-reorder.js
    modules/resource-view-reorder.js
    modules/follow.js
    modules/activity-stream.js
    modules/dashboard.js
    modules/resource-view-embed.js
    view-filters.js
    modules/resource-view-filters-form.js
    modules/resource-view-filters.js
    modules/table-toggle-more.js
    modules/dataset-visibility.js
    modules/media-grid.js
    modules/image-upload.js
    modules/followers-counter.js

[depends]

main = vendor/vendor
ckan = vendor/bootstrap

[custom render order]

apply_html_class = 1

[inline scripts]

apply_html_class =
    document.getElementsByTagName('html')[0].className += ' js';

[groups]

ckan =
main =
